# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d08bdf2f417978e6bb3bd0902876953aabfacdf8f1d9d79f75c8c70606000e9acb45df471ebf3f8389ba4428be276dbfc6c989bdc50c299634f755b74ce03503

test:
  secret_key_base: 4580060f4d549cc2abf3fbbcc4d5e807b506cce3d606cd466773a17f39dafd858f143f9f19db96bf6d1074855b481becc5190c31a6cacf5c01bb9f18f55ee2e2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
